{% extends  'ProductBundle:product:show.html.twig' %}
{% block features %}
    <tr>
        <td class="attribute">
            Degré d'alcool :
        </td>
        <td class="att-value">
            {{ product.alcoholdegree }}%
        </td>
    </tr>
{% endblock %}


