{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet" />
{% endblock %}
<div class="espace"></div>
<div id="content">
    <h1>{% trans %}Réinitialiser votre mot de passe{% endtrans %}</h1>
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="mini-espace">
            <label id="tres_imp" for="username">{{ 'resetting.request.username'|trans }}</label>
            <input id="tres_important" type="text" id="username" name="username" required="required" />
        </div>
        <div>
            <input id="tres_important" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
        <div class="mini-espace"></div>

    </form>
</div>
<div class="espace"></div>