{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/contact.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div id="content">
        <h1>Présentation</h1>
        <br>
        <h3>Site de vente de vin appartenant à la société xxx</h3>
        <br>
        <p>Ici, les clients pourront raconter l'histoire de leur entreprise, histoire de se présenter à eux avant qu'on puisse
        les contacter, ça peut toujours être utile. Meanwhile, je mets un lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non pharetra leo. Etiam mollis at orci auctor ornare. Praesent tellus sapien, maximus eu orci eu, ultricies ullamcorper neque. Donec interdum placerat risus sit amet consectetur. Nullam nec laoreet erat. Duis quis accumsan metus. Nullam porttitor pulvinar sagittis. Fusce justo velit, condimentum at convallis eu, bibendum non tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sagittis velit vehicula sodales hendrerit. Phasellus tristique maximus ipsum quis pharetra. Mauris aliquam eu quam at pharetra. Morbi nec orci turpis. Morbi quis posuere elit. Suspendisse nec neque a orci imperdiet aliquet.
        </p>
        <br>
        <h1>Nous contacter</h1>
        <br>
        <h3>Retrouvez-nous sur les réseaux sociaux</h3>
        <br>

        <table>
            <tr>
               <td>
                   Facebook:
               </td>
                <td>
                    <div class="fb-like" data-href="https://www.facebook.com/ISEN.Toulon/?fref=ts" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div> <br>
                </td>
            </tr>
            <tr>
               <td>
                   Twitter:
               </td>
                <td>
                    <a href="https://twitter.com/onlythepg" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre @onlythepg</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> <br>
                </td>
            </tr>
            <tr>
               <td>
                   Mail:
               </td>
                <td>
                    contact@adressedusite.fr
                </td>
            </tr>
        </table>
        <br>
        <i>Site créé par des étudiants de l'ISEN Toulon pour leur projet de 4e année.</i>
    </div>
{% endblock %}