{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h1>Autorisation Producer</h1>
    {{ form_start(form, {'attr': {'onclick': 'this.submit();'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}