<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Box Office Wine - Administration{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
    <nav class="navbar navbar-fixed-top shadow" id="js-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("homepage") }}">
                    <img src="{{ asset('img/logo.png') }}" alt="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('admin_index') }}">menu principal d'administration</a>
                    </li>
                    <li>
                        <a href="#">déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% block body %}

{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
