{% extends "UserBundle:Registration:User.form.html.twig" %}

{% block fos_user_content %}
    <div id="content">
        {% trans_default_domain 'FOSUserBundle_trad' %}
        <h1>{% trans %}Registration Producer{% endtrans %}</h1>
        <form action="{{ path('user_producer_registration') }}" method="POST">
            {{ form_widget(form) }}
            <div>
                <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Registration{% endtrans %}" />
            </div>
        </form>
    </div>
{% endblock fos_user_content %}