{% extends "UserBundle:Registration:User.form.html.twig" %}

{% block fos_user_content %}
    <div id="content">
        <h1>{% trans %}Registration User{% endtrans %}</h1>
        <form action="{{ path('user_consumer_registration') }}" method="POST">
            <div class="form-div">
                {{ form_widget(form) }}
            </div>
            <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Registration{% endtrans %}" />
        </form>
    </div>
{% endblock fos_user_content %}