{% extends "UserBundle:Registration:User.form.html.twig" %}



{% block fos_user_content %}
    <div id="content">
        <h1 class="text-center">Inscription utilisateur</h1>
    <div class="centrage">
    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path('user_consumer_registration') }}" method="POST">
        {{ form_widget(form) }}
        <div><br><br>
            <input class="btn btn-primary btn-circle text-center" type="submit" value="{{ 'registration.submit'|trans }}" />

        </div>
    </form>
    </div>
    </div>
{% endblock fos_user_content %}