@media (max-width: 499px ) {
    h1{
        font-size: 50px;
        font-family: 'Dancing Script', cursive;
        color:white;
        margin-top: 80px;
        margin-bottom: 3%;
    }

    .neutral {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        height: 20em;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .btn-home {
        padding: 0px 0px;
        text-align: center;
        width: 354px;
        height: 250px;
    }

    .image {
        position: inherit;
        border-radius: 10px;
        background-size: cover;
        width: 350px;
        height: 280px;
    }

    .texte {
        background-color: #444444;
        opacity: 0.85;
        position: relative;
        top:-45px;
        text-shadow: 3px 2px 1px black;
        font-size: 150%;
        font-family: 'Lemonada', cursive;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    .testimonials {
        text-align: center;
        position: relative;
        width: 100%;
        min-height: 500px;
        background: url("/img/concours/fond_accueil_provisoire.jpg") no-repeat;
        background-size: cover;
    }
    .text-newsletter{
        font-size: 155%;
        font-family: 'Roboto', cursive;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        color: black;
    }
    .newsletter{
        color: white;
        text-shadow: 3px 2px 1px black;
        font-family: "Roboto", cursive;
        font-size: 250%;
    }
    .post-entry-cover {
        width: 100%;
        height: auto;
        float: left;
        margin: 15px 0;
        background-size: cover;
        background-position: center;
        border-radius: 3px; }

    .h3{text-align: center}
}
@media (min-width: 500px ) {
    h1{
        font-size: 60px;
        font-family: 'Dancing Script', cursive;
        color:white;
        margin-top: 80px;
        margin-bottom: 3%;
    }

    .neutral {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        height: 20em;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .btn-home {
        padding: 0px 0px;
        text-align: center;
        width: 454px;
        height: 350px;
    }

    .image {
        position: inherit;
        border-radius: 10px;
        background-size: cover;
        width: 450px;
        height: 350px;
    }

    .texte {
        background-color: #444444;
        opacity: 0.85;
        position: relative;
        top: -84px;
        text-shadow: 3px 2px 1px black;
        font-size: 150%;
        font-family: 'Lemonada', cursive;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }
    .testimonials-banner {
        text-align: center;
        position: relative;
        width: 100%;
        min-height: 500px;
        background: url("/img/concours/fond_accueil_provisoire.jpg") no-repeat;
        background-size: cover;
    }
    .text-newsletter{
        font-size: 155%;
        font-family: 'Roboto', cursive;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        color: black;
    }

    .newsletter{
        color: white;
        text-shadow: 3px 2px 1px black;
        font-family: "Roboto", cursive;
        font-size: 250%;
    }

    .post-entry-cover {
        width: 100%;
        height: auto;
        float: left;
        margin: 15px 0;
        background-size: cover;
        background-position: center;
        border-radius: 3px; }
    .h3{text-align: center}
    .right-arrow-negative,.left-arrow-negative{
        text-shadow: 5px 1px 5px black;
    }

    .uni-info{
        width:65%;
    }
}

.tabdescr {
    margin-left:auto;
    margin-right:auto;
    width:65%;

}

.descr {
    display:block;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    color: #FFFFFF;
    background-color: #A49D61;
    font-family: 'Roboto', cursive;
    text-align: center;
}

.descr td{
    display: block;
    margin:auto;
}


.centrer {
    margin-left: auto;
    margin-right: auto;
    margin-top:6px;
    margin-bottom:6px;
}


.uni-info{
    display:block;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    line-height: 30px;
}

.collapse {
    margin-bottom: 30px;
}

.panel-collapse p{
    padding:2%;
}

.btn:focus, .btn:hover{
    color:white;
}