h1,h2{
    font-size: 4vw;
    font-family: 'Dancing Script', cursive;
    color: white;
}

@media screen and (max-width: 379px)
{
    h3 {
        font-size: 4.3vw;
    }

    .texte {
        position: relative;
        font-size: 3vw;
        font-family: 'Lemonada', cursive;
        text-shadow: 3px 2px 5px black;
        text-align: center;
        top: 25%;
    }
    .btn-circle {

        margin-left: auto;
        margin-right: auto;
        margin: 1%;
        width: 80%;
        line-height: 1.428571429;
        border-radius: 10px;
    }

}

@media screen and (min-width: 380px) and (max-width: 499px)
{
    h3 {
        font-size: 4.8vw;
    }

    .texte {
        position: relative;
        font-size: 3.5vw;
        font-family: 'Lemonada', cursive;
        text-shadow: 3px 2px 5px black;
        text-align: center;
        top: 25%;
    }

    .btn-circle {

        margin-left: auto;
        margin-right: auto;
        margin: 1%;
        width: 80%;
        line-height: 1.428571429;
        border-radius: 10px;
    }
}
@media screen and (min-width: 500px) and (max-width: 1023px)
{
    h3 {
        font-size: 3.3vw;
    }

    .texte {
        position: relative;
        font-size: 2vw;
        font-family: 'Lemonada', cursive;
        text-shadow: 3px 2px 5px black;
        text-align: center;
        top: 25%;
    }

    .btn-circle {

        margin-left: auto;
        margin-right: auto;
        margin: 1%;
        width: 40vw;
        line-height: 1.428571429;
        border-radius: 10px;
    }
}

@media screen and (min-width: 1024px)
{
    h3 {
        font-size: 2.3vw;
    }

    .texte {
        position: relative;
        font-size: 1vw;
        font-family: 'Lemonada', cursive;
        text-shadow: 3px 2px 5px black;
        text-align: center;
        top: 25%;
    }

    .btn-circle {

        margin-left: auto;
        margin-right: auto;
        margin: 1%;
        width: 25vw;
        line-height: 1.428571429;
        border-radius: 10px;
    }
}
.content {
    margin-top: 60px;
}

#center-and-marges{
    margin-top: 60px;
    margin-left: 30%;
    margin-right: 30%;
}
