
h1 {

    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: white;
    margin-top: 4%;

}

h2 {

    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: white;

}

.btn-circle {

    margin: 10px;
    width: 25vw;
    height: 25vh;
    line-height: 1.428571429;
    border-radius: 10px;



}

.texte {
    position: relative;
    font-size: 1.75vw;
    font-family: 'Lemonada', cursive;
    text-shadow: 3px 2px 5px black;
    top : 35%;
}

