.Rech{
    margin-top: 5px;
    margin-bottom: 30px;
}

#productbundle_product_name, #productbundle_product_price_max{
    color: black;
    display: block;
    margin-top: 0;
    margin-bottom: 25px;
    width: 100%;
}

#productbundle_product output{
    color: white;
    margin-top: 135px;
}

#Recherche table{
    margin-top: 50px;
    width: 100%;
}

#Search1, #productbundle_product_color{
    width: 100%;
    color: black;
}

