/*Titre de la page*/
h3, h2{
    color: white;
}

/*Lien "modifier"*/
b{
    color: #c6a668;
}



/********* ECRAN 3 *********/

@media (min-width: 880px) {

    #Profile{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 2px 2px 6px #aaa;
        color: white;
        text-shadow: 2px 2px 2px black;
        float: left;
    }
    #Profile2{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 2px 2px 6px #aaa;
        color: white;
        text-shadow: 2px 2px 2px black;
    }


    #slideshow {
        float: left;
        position: relative;
        display: block;
        width: 40%;

        margin-left: 15%;
    }

    #slideshow > div {
        position: absolute;
    }

    .diapo{
        width: 100%;
        border-radius: 20px;
        box-shadow: 2px 2px 6px #aaa;
    }

    #Factures{
        margin-left: auto;
        margin-right: auto;
        margin-top: 480px;
        margin-bottom: 70px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 2px 2px 6px #aaa;
        color: white;
        text-shadow: 2px 2px 2px black;
        width: 80%;

        position: relative;
        display: block;
    }

    .gros-bloc{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        display: block;
    }

    .espaceProd{
        display: inline-block;
        margin: 50px;
    }


    .espaceUser{
        display: inline-block;
        margin: 10px;
    }


    .espaceMedia{
        display: inline-block;
        margin: 5px;
    }

}



/********* ECRAN 2 *********/

@media (max-width: 879px) {

    #Profile{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 2px 2px 6px #aaa;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    #Profile2{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 2px 2px 6px #aaa;
        color: white;
        text-shadow: 2px 2px 2px black;
    }

    #slideshow {
        display: none;
    }

    #slideshow > div {
        display: none;
    }

    .diapo{
        display: none;
    }



    #Factures{
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
        width: 80%;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 2px 2px 6px #aaa;
        color: white;
        text-shadow: 2px 2px 2px black;

        position: relative;
        display: block

    }
}


.required{
    width: 200px;
}

button, input, optgroup, select, textarea {
    color: black;
}

#Factures .btn-circle{
    height: 4em;
    width: 90%;
}

#fos_user_registration_form_country {
    width: 14em !important;
    border-radius: 5px;
}
#fos_user_profile_form_birthDate_day {
    width: 60px !important;
}
#fos_user_profile_form_birthDate_year, #fos_user_profile_form_birthDate_month {
    width: 80px !important;
}
h2{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: white;
}
