/**********  ECRAN 1  ***********/

@media (max-width: 479px) {
    form{
        font-size:10px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
    }
    h3{
        font-size: 7px;
    }
    nav{
        width:90px!important;
    }
    nav a{
        font-size: 10px;
    }
}



/**********  ECRAN 2  ***********/

@media (min-width: 480px) and (max-width: 879px)  {
    form{
        font-size:13px;
    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
    #Profile, #ECivil,#Factures{
        margin-left:30px;
    }
}


/**********  ECRAN 3  ***********/

@media (min-width: 880px) {
    form{
        font-size:17px;
    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 18px;
    }
    #Profile, #ECivil,#Factures{
        margin-left:30px;
    }
}

/*******************************************************/

#titre {
    text-align:center;
    margin-bottom:40px;
    margin-top:40px;
}

.w3-container h5{

    padding-bottom:70px;
}

.w3-sidenav a{
    color:white;
}

.navbar{
    background: #333;
}
#modifier {
    color:white;
    text-decoration: underline;
}

input, select{
    color:black;
}