@media (min-width: 480px) {
    .timeline-block .timeline-content
    {
    background-image: url("../img/concours/concours3.png");
    background-repeat: no-repeat;
    background-position: center center;

    }
    p, h2 {
        color:black;
    }

}

@media (min-width: 1200px) {
    .timeline-block {
        padding: 30px 0;
    }
}