
#content {
    margin-top: 75px;
}

h1 {
    color:#c6a668;
}


.tableauContour {
    font-family: 'Lemonada', cursive;
    width: 35vw;
    box-shadow: 2px 2px 6px #AAA ;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;
    border-radius: 20px;
    border-collapse: separate;

}

input,option,select {
    color: black;
}



label
{

    display: block;
    width: 150px;
    float: left;
}


.zonetexte {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    font-family: 'Lemonada', cursive;
}


.tabcenter{
    margin-left:auto;
    margin-right:auto;
}

.titre{
    background-color: green;
    text-align: center;
    height: 20vh;
    width: 100vw;
}


td {
    font-family: Lemonada, cursive;
    margin: 10px;
}


.paragraphe {
    display: block;
    /*background-color: red;*/
    height: 20em;
    width: 90em;
    margin-right: 5em;
    margin-left: 5em;
    float: right;
}

textarea {
    color: black;
}



.photo {
    display: inline-block;
    background-color: #0d8aee;
    margin-left: 5em;
    height: 20em;
    width: 20em;
    /*float: left;*/
}



@media all and (max-device-width: 480px)
{
    body,p { font-size: 28em; }
    h1,h2,h3 { font-size: 33em; }
}


@media (max-width: 480px)
{
    body,p { font-size: 18em; }
    h1,h2,h3 { font-size: 23em; }
}
