body {
    font-family:"pacifico",sans-serif;
    margin:10px;
}

#content {
    margin-top: 75px;
}

h1 {
    color:#c6a668;
}

th, td {
    padding: 4px;
}

p {
    margin: 5px;
    padding: 15px;
}

@media all and (max-device-width: 480px)
{
    body,p { font-size: 28px; }
    h1,h2,h3 { font-size: 33px; }
}


