@media (max-width: 480px){

#content {
    margin-top: 75px;
}

h1 {
    color:#c6a668;
}


.tableauContour {
    font-family: 'Lemonada', cursive;
    width: 80vw;
    box-shadow: 2px 2px 6px #AAA ;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;
    border-radius: 20px;
    border-collapse: separate;

}

#menu {
    display: none;
}

input,option,select {
    color: black;
}

label
{

    display: block;
    width: 150px;
    float: left;
}
.bloc_btn_genre{
    display: inline-block;
    margin-left: 10px;
}
.taille_zone_de_saisie{
    width: 100%;
}

.taille_zone_texte{
    border-radius: 10px;
    width: 100%;
}

td {
    font-family: Lemonada, cursive;
    margin: 10px;
}



textarea {
    color: black;
}



}

/*///////////////////////////////////////////////////////////////////////

                    //ECRAN taille moyenne-grande//

////////////////////////////////////////////////////////////////////////*/

@media (min-width: 480px) {

    #content {
        margin-top: 75px;
    }

    h1 {
        color:#c6a668;
    }
    .bloc_btn_genre{
        display: inline-block;
        margin-left: 10px;
    }

    .tableauContour {
        font-family: 'Lemonada', cursive;
        width: 50vw;
        box-shadow: 2px 2px 6px #AAA ;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;

        margin-bottom: 20px;
        border-radius: 20px;
        border-collapse: separate;

    }

    input,option,select {
        color: black;
    }



    label
    {
        display: block;
        width: 150px;
        float: left;
    }

    .taille_zone_de_saisie{
        width: 30vw;
    }

    .taille_zone_texte{
        border-radius: 10px;
        width: 100%;
    }
    #smartphone {
        display: none;
    }

    #menu {

        font-family: Lemonada, cursive;
        padding: 20px;
        background-color: rgba(100,100,100,0.5);
        width: 20vw;
        min-width: 150px;
        max-width: 250px;
        height: 15vh;
        min-height: 150px;
        max-height: 150px;
        box-shadow: 2px 2px 6px #000 ;
        border-radius: 10px;
        position: fixed;
        left: 3vw;
        top: 20%;


        margin-top: -2.5em;
    }


    td {
        font-family: Lemonada, cursive;
        margin: 10px;
    }

    textarea {
        color: black;
    }
}

.img-texte-g  {
    overflow:auto;
    display: inline-block;
}
.img-texte-g img {
    float:left;
    margin-left: 15px;
    margin-right: 15px;

}

.img-texte-d  {
    overflow:auto;
    display: inline-block;
}
.img-texte-d img {
    float:right;
    margin-left: 15px;
    margin-right: 15px;
}

.cadre_contour{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    width: 80%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px #aaa;
    color: white;
    text-shadow: 2px 2px 2px black;

    position: relative;
    display: block
}


.titre_contact{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}

.tableauContour_bas {
    font-family: 'Lemonada', cursive;
    width: 50%;
    height: 10vh;
    box-shadow: 2px 2px 6px #AAA ;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;
    border-radius: 20px;
    border-collapse: separate;

}


#form_submit {
    height: 40px;
    width: 50%;
    border-radius: 3px;
    margin-left: 25%;
    color: #C6A668;
    background-color: rgba(255, 255, 255, 0);
    border-color: #C6A668;
}