.exceptionContent {
    text-align: center;
    margin: auto;
    margin-top: 80px;
}
.exceptionImg {
    max-height: 100vh;
    max-width: 100vw;
}
.btn-exception {
    margin-bottom: 20px;
}
#exceptionTitle, .exceptionCode, .exceptionImg {
    font-family: 'Roboto', sans-serif;
}
