.div-footer{
    padding-top: 25px;
}

#large_footer{
    margin-top: 80px;
}

#slim_footer{
    padding: 10px 30px;
}

#enveloppe{
    width: 40px;
    height: 40px;
}

.style_logo_footer {
    width: 180px;
}
.div-footer h4{
    font-size: 22px;
}
.color-textfooter{
    color: white;
}