
/********* ECRAN PETIT *********/

@media (max-width: 900px) {

    #contenu {
        margin-left: 10%;
        margin-right: auto;
    }

    #productbundle_universe_name, #productbundle_wine_color, #productbundle_wine_vintage, #chemin,
    #productbundle_wine_stock, #productbundle_wine_price, #productbundle_wine_volume, #productbundle_universe_description,
    #productbundle_wine_name, #mediabundle_files_url, #mediabundle_files_name, #mediabundle_files_date_date, #productbundle_purchase_address,
    #userbundle_userconsumer_sex, #productbundle_purchase_city, #productbundle_purchase_postalCode, #productbundle_wine_alcoholDegree,
    #productbundle_purchase_country, #productbundle_purchase_user, #productbundle_wine_description, #productbundle_wine_universes,
    #userbundle_userconsumer_username, #userbundle_userconsumer_email, #userbundle_userconsumer_plainPassword_first, #userbundle_userconsumer_plainPassword_second,
    #userbundle_userconsumer_firstname, #userbundle_userconsumer_lastname, #userbundle_userconsumer_birthDate, #userbundle_userconsumer_phone,
    #productbundle_productconditioning_name, #productbundle_productconditioning_pubPrice, #productbundle_productconditioning_proPrice,
    #productbundle_productconditioning_volumeValue, #productbundle_productconditioning_volumeUnit, #productbundle_productconditioning_stock,
    #productbundle_productconditioning_pack, #productbundle_productconditioning_pack_name, #productbundle_productconditioning_pack_quantityIn,
    #productbundle_productconditioning_deliveries,
    #userbundle_address_address, #userbundle_address_bundle, #userbundle_address_city, #userbundle_address_postalCode,
    #userbundle_address_state, #userbundle_address_country, #userbundle_address_firstName, #userbundle_address_lastName,
    #concoursbundle_competition_name, #concoursbundle_competition_description,
    #appbundle_news_title, #appbundle_news_author, #appbundle_news_datePublication, #appbundle_news_newsText,
    #concoursbundle_medal_name, #concoursbundle_medal_annee, #concourbundle_medal_url, #concoursbundler_medal_competition,
    #userbundle_userproducer_lastname, #userbundle_userproducer_firstname,
    #userbundle_userproducer_siret, #userbundle_userproducer_billingEmail, #userbundle_userproducer_website, #userbundle_userproducer_facebook,
    #userbundle_userproducer_twitter, #userbundle_userproducer_companyName, #userbundle_userproducer_businessName,#userbundle_userproducer_address,
    #userbundle_userproducer_city, #userbundle_userproducer_country, #userbundle_userproducer_postalCode, #userbundle_userproducer_state, #userbundle_userproducer_province,
    #userbundle_userproducer_phone, #userbundle_userproducer_fax, #userbundle_userproducer_tvaIC, #userbundle_userproducer_status, #userbundle_userwholesale_companyName,
    #fos_user_change_password_current_password, #fos_user_change_password_plainPassword_first, #fos_user_change_password_plainPassword_second
    {
        width: 90%;
        max-width: 500px;
        margin-bottom: 10px;
        color: black;
    }


    #boutons{
        margin: auto;
        margin-left: 10%;
        margin-top: 40px;
        width: 100%;
        overflow: hidden;
    }

    .bouton1{
        display: block;
        float: left;
        margin: auto;
    }


}



/********* ECRAN GRAND *********/

@media (min-width: 901px) {

    #contenu {
        margin: auto;
        width: 50%;
    }

    h1{
        margin-top: 100px;
        text-align: center;
    }

    h2{
        text-align: center;
    }

    #productbundle_universe_name, #productbundle_wine_color, #productbundle_wine_vintage, #chemin,
    #productbundle_wine_stock, #productbundle_wine_price, #productbundle_wine_volume, #productbundle_universe_description,
    #productbundle_wine_name, #mediabundle_files_url, #mediabundle_files_name, #mediabundle_files_date_date, #productbundle_purchase_address,
    #userbundle_userconsumer_sex, #productbundle_purchase_city, #productbundle_purchase_postalCode, #productbundle_wine_alcoholDegree,
    #productbundle_purchase_country, #productbundle_purchase_user, #productbundle_wine_description, #productbundle_wine_universes,
    #userbundle_userconsumer_username, #userbundle_userconsumer_email, #userbundle_userconsumer_plainPassword_first, #userbundle_userconsumer_plainPassword_second,
    #userbundle_userconsumer_firstname, #userbundle_userconsumer_lastname, #userbundle_userconsumer_birthDate, #userbundle_userconsumer_phone,
    #productbundle_productconditioning_name, #productbundle_productconditioning_pubPrice, #productbundle_productconditioning_proPrice,
    #productbundle_productconditioning_volumeValue, #productbundle_productconditioning_volumeUnit, #productbundle_productconditioning_stock,
    #productbundle_productconditioning_pack, #productbundle_productconditioning_pack_name, #productbundle_productconditioning_pack_quantityIn,
    #productbundle_productconditioning_deliveries,
    #userbundle_address_address, #userbundle_address_bundle, #userbundle_address_city, #userbundle_address_postalCode,
    #userbundle_address_state, #userbundle_address_country, #userbundle_address_firstName, #userbundle_address_lastName,
    #concoursbundle_competition_name, #concoursbundle_competition_description,
    #appbundle_news_title, #appbundle_news_author, #appbundle_news_datePublication, #appbundle_news_newsText,
    #concoursbundle_medal_name, #concoursbundle_medal_annee, #concourbundle_medal_url, #concoursbundler_medal_competition,
    #userbundle_userproducer_siret, #userbundle_userproducer_billingEmail, #userbundle_userproducer_website, #userbundle_userproducer_facebook,
    #userbundle_userproducer_twitter, #userbundle_userproducer_companyName, #userbundle_userproducer_businessName,#userbundle_userproducer_address,
    #userbundle_userproducer_city, #userbundle_userproducer_country, #userbundle_userproducer_postalCode, #userbundle_userproducer_state, #userbundle_userproducer_province,
    #userbundle_userproducer_phone, #userbundle_userproducer_fax, #userbundle_userproducer_tvaIC, #userbundle_userproducer_status, #userbundle_userwholesale_companyName,
    #fos_user_change_password_current_password, #fos_user_change_password_plainPassword_first, #fos_user_change_password_plainPassword_second
    {
        width: 100%;
        margin-bottom: 20px;
        color: black;
    }


    #boutons{
        margin: auto;
        margin-top: 40px;
        width: 500px;
        overflow: hidden;
    }

    .bouton2{
        margin-left: 30%;
    }

    .bouton1{
        display: block;
        float: left;
        margin: auto;
    }


    .clic{
        border-radius: 3px;
        padding: 5px;
        background-color: #c6a668;
        color:white;
        font-style: italic;
        float: right;
        display: inline-block;
    }

}

.espace-bas{
    height: 80px;
}

.clic{
    border-radius: 3px;
    padding: 5px;
    background-color: #c6a668;
    color:white;
    font-style: italic;
    float: left;
    display: inline-block;
    margin-right: 30px;
}


#productbundle_productconditioning_pack{
    color: #c6a668;
}

#userbundle_address_submit{
    border-radius: 5px;
    background-color: #c6a668;
    color: black;
    margin-top: 50px;
    width: 150px;
    height: 35px;
}

#concoursbundle_competition_dateCompetition, #productbundle_wine_conditioningTypes, #productbundle_wine_overpressure, #concoursbundle_medal_url, #concoursbundle_medal_competition{
    color: black;
}


@media (min-width: 901px) and (max-width: 1200px) {

    #userbundle_userconsumer_lastname, #userbundle_userconsumer_firstname, #userbundle_userconsumer_sex, #userbundle_userconsumer_phone,
    #userbundle_userproducer_lastname, #userbundle_userproducer_firstname,
    #userbundle_userproducer_businessName, #userbundle_userproducer_siret, #userbundle_userproducer_billingEmail, #userbundle_userproducer_website, #userbundle_userproducer_facebook,
    #userbundle_userproducer_twitter, #userbundle_userproducer_companyName, #userbundle_userproducer_businessName,#userbundle_userproducer_address,
    #userbundle_userproducer_city, #userbundle_userproducer_country, #userbundle_userproducer_postalCode, #userbundle_userproducer_state, #userbundle_userproducer_province,
    #userbundle_userproducer_phone, #userbundle_userproducer_fax, #userbundle_userproducer_tvaIC, #userbundle_userproducer_status,
    #fos_user_change_password_current_password, #fos_user_change_password_plainPassword_first, #fos_user_change_password_plainPassword_second
    {
        width: 90%;
    }

}