body {
    margin-top: 80px;
}

h1{
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
    color: white;
    margin-bottom: 80px;
}

img {
    border-radius : 10px;
}
.caption {
    font-family: 'Lemonada', cursive;
    text-shadow: 3px 2px 1px black;
    font-size: 2em;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}

.user-type {
    margin-bottom: 30px;

}

