.form-div {
    margin-top: 30px;
}

.form-div div {
    margin-bottom: 20px;
}

.form_error{
    width: 15vw;
    display: inline-block;
    position: relative;
    left: 100px;
    color:red;
}
#content {
    border: double #c6a668;
    text-align: center;
    padding: 10px 50px 50px 50px;
    margin-top: 50px;
    box-sizing: content-box;
}

.form-control
{
    width: 100%;
}