.table th{
    text-align: center;
}
.date{
    width: 10%;
}
.auteur{
    width: 10%;
}
.contenu{
    width: 50%;
}
.section-heading{
    width: auto;

    font-size: xx-large;
    margin-top: 90px;
}

.type_commande {
    text-align: center;
}

.btn {
    padding:6px;
}

.color-title{
    color: #c6a668;
}
#form_save{
    color: black;
    background-color: #c6a668;
}
.section-heading{
    font-size: 250%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #fff;
    background-color: #262626; }

.btn-circle {
    margin: 10px;
    width: 18em;
    height: 3em;
    line-height: 1.428571429;
    border-radius: 10px;
    position: relative;
    font-size: 0.8em;
    font-family: 'Pacifico', cursive;
}
li{text-align: center;}
.btn{color: black}
#content{
    margin-top: 90px;
}