table {
    border: medium solid #ffc16b;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}
th {
    font-family: monospace;
    border: thin solid #0d0d0d;
    padding: 5px;
    background-color: #ffc16b;
}
td {
    font-family: sans-serif;
    border: thin solid black;
    padding: 5px;
    text-align: center;
    background-color: #ffd893;
}
a, th, td, tr{
    color: #0d0d0d;
    text-align: center;
}
.date{
    width: 10%;
}
.auteur{
    width: 10%;
}
.contenu{
    width: 50%;
}
.section-heading{
    width: auto;

    font-size: xx-large;
    margin-top: 90px;
}

.type_commande {
    text-align: center;
}

.btn {
    padding:6px;
}
