.titre{
    text-align: center;
}

.contour{

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    margin-top: 90px;

    width: 50%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px #aaa;
    text-shadow: 2px 2px 2px black;

    position: relative;
    display: block;
}

.marges{
    margin-left: 30%;
}

.marge-inf{
    margin-bottom: 5vh;
}

