
.navbar-brand img{
    height: 30px;
}
.style_logo{
    width: auto;
}

#myNavbar{
    padding: 0;
}

@media (max-width: 1200px) {
    .taille-li-navbar li{
       height: 100px;
    }
    .taille-li-navbar a {
        font-size: xx-large !important;
    }
    
}