.style_logo{
    width: auto;
}

#myNavbar{
    padding: 0;
}
@media (max-width: 768px ) {
    .navbar-brand img{
        height: 45px;
    }
    .navbar-header{
        height: 90px;
    }
    .navbar-toggle{
        padding-top: 30px;
    }
    .navbar-toggle .icon-bar{
        height: 4px;
        width: 44px;
    }
    .navbar-toggle .icon-bar + .icon-bar{
        margin-top: 8px;
    }
}

@media (min-width: 769px ) {
    .navbar-brand img{
        height: 30px;
    }
}