.form-div {
    margin-top: 30px;
}

.form-div div {
    margin-bottom: 20px;
}

.form_error{
    width: 15vw;
    display: inline-block;
    position: relative;
    left: 100px;
    color:red;
}

@media (max-width: 600px) {
    body {
        font-family:"pacifico",sans-serif;
        color:#c6a668;
        text-align: center;
    }

    label
    {
        width: 500px;
        float: left;
        margin: 0 auto;
    }

    #content {
        border: double;
        max-width: 80vw;
        margin: 0 auto;
        margin-top: 75px;
    }

    #fos_user_registration_form div {
        margin-top: 22px;
    }
}
@media (min-width: 601px) and (max-width: 1199px) {
    body {
        font-family:"pacifico",sans-serif;
        color:#c6a668;
        text-align: center;
    }

    label
    {
        width: 200px;
        float: left;
        margin: 0 auto;
    }

    #content {
        border: double;
        max-width: 75vw;
        margin: 0 auto;
        margin-top: 75px;
    }

    #fos_user_registration_form div {
        margin-top: 22px;
    }
}
@media (min-width: 1200px) {
    body {
        font-family:"pacifico",sans-serif;
        color:#c6a668;
        text-align: center;
    }

    label
    {
        width: 200px;
        float: left;
        margin: 0 auto;
    }
    input, textarea, select{
        width: 15vw !important;
    }

    .form_error{
        width: 15vw;
        display: inline-block;
        position: relative;
        left: 100px;
    }

    #content {
        border: double;
        max-width: 40vw;
        margin: 0 auto;
        margin-top: 75px;
    }

    #fos_user_registration_form div {
        margin-top: 22px;
    }

}


.btn-circle {
    margin: 10px;
    width: 12em;
    height: 3em;
    line-height: 1.428571429;
    border-radius: 10px;
    position: relative;
    font-size: 0.8em;
    font-family: 'Pacifico', cursive;
}

#fos_user_registration_form_email,
#fos_user_registration_form_username,
#fos_user_registration_form_plainPassword_first,
#fos_user_registration_form_plainPassword_second,
#fos_user_registration_form_firstname,
#fos_user_registration_form_lastname,
#fos_user_registration_form_sex,
#fos_user_registration_form_birthDate,
#fos_user_registration_form_siret,
#fos_user_registration_form_companyName,
#fos_user_registration_form_city,
#fos_user_registration_form_postalCode,
#fos_user_registration_form_urlBlog,
#fos_user_registration_form_idPresse,
#fos_user_registration_form_businessName,
#fos_user_registration_form_phone,
#fos_user_registration_form_province,
#fos_user_registration_form_state{
    border-radius: 10px;
    color:#555555;
}

#fos_user_registration_form_address {
    border-radius: 10px;
    color: #555555;
    width: 14em;
    height: 7em;
}

#fos_user_registration_form_country {
    /*width: 14em !important;*/
    border-radius: 5px;
    color:#555555;;
}
#fos_user_registration_form_birthDate_day {
    width: 60px !important;
}
#fos_user_registration_form_birthDate_year, #fos_user_registration_form_birthDate_month {
    width: 80px !important;
}