.table-template{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px #aaa;
    color: white;
    text-shadow: 2px 2px 2px black;
    width: 80%;
    position: relative;
    display: block;
}

.table-template td{
    vertical-align: inherit;
}

.table-template th{
    text-align: center;
    vertical-align: inherit;
}
.color-title{
    color: #c6a668;
}
.table-recap-commande{
    width: 65%;
    margin-top: 250px;
}
#content {
    margin-top: 130px;
}
.disabled-row{
    opacity: 0.3;
}