.ti-shopping-cart:before {
    content: none; }



/* Slideshow container
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}*/

/*Bouton retour*/
.back-button{
    margin-top: 10px;
    margin-left: 6vw;
    margin-bottom: 10px;
    color: #C6A668;
    background: none;
    border: none;
    font-weight: bold;
}
.back-button:hover {
    color: rgba(156, 127, 80, 0.78);
}


/********* FLECHES *********/
/* Flèches "suivant" et "précédent" */
.prev, .next {
    cursor: pointer;
    position: absolute;
    /*top: 200px;*/
    top: 20vh;
    width: auto;
    /*margin-top: -22px;*/
    /*margin-top: -40vh;*/
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* Position de la flèche "suivant" sur la droite */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* Au survol des flèches, ajout d'un background de couleur */
.prev:hover, .next:hover {
    background-color: rgba(240,195,0,20);
}





/********* POINTS *********/
/* The dots/bullets/indicators */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}


/*    Big Sections    */
.product-content{
    width: 1100px;
    margin: 80px auto 20px auto;
    text-align: center;
}

.section-slide {
    display: inline-block;
    position: relative;
    float: left;
    width: 550px;
}

.section-presentation{
    display: inline-block;
    position: relative;
    float: left;
    width: 550px;
    padding-left:20px;
}

.presentation-table{
    margin: auto;
    border: solid 1px #bababa;
    width:80%;
}

/*  CAROUSEL   */
.mycarousel {
    padding-top: 0;
}
.mycarousel-inner > .item > img, .mycarousel-inner > .item > a > img {
    height: auto;
}
.mycarousel-indicators {
    position: absolute;
    float: none;
    bottom: 10px;
    left: 50%;
    width: 60%;
    margin-left: -30%;
    padding: 0;
    background: none;
}
.carousel-control.right,.carousel-control.left{
    background-image: none;
    color: #C6A668;
    opacity: 1;
}

/*SLIDER*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    text-align:center;
}
.back-button{
    margin-left: 35px;
}
.photo{
    max-width: 450px;
    max-height: 600px;
}


/* PRESENTATON PRODUIT*/

#TITRE{
    padding-top: 27px;
}

.my-countdown-container{
    float: none;
    margin: auto;
    text-align: center;
}

td.attribute,td.att-value {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Lemonada', cursive;
}

td.attribute {
    text-align: right;
    background-color: #424242;
    color: #e7ad36;
}
td.att-value {
    text-align: left;
}

.product-description-text{
    margin: 20px;
    font-family: 'Lemonada', cursive;
    line-height: 1.5em
}


/************************
 ******** Comment *******
 ************************/
.rating {
    width: 123px;
    font-size: 25px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}
.full-star, .empty-star{
    float:left;
    margin-right: 2px;
    text-decoration: none;
}
.empty-star{
    color: #aaa;
}
.full-star {
    color: orange;
}
.rating a {
    float:left;
    margin-right: 2px;
    text-decoration: none;
}

.comment-header{
    background-color: #424242;
    padding: 10px;
}

.comment-content{
    padding:10px;
}
.field-textarea{
    color: #1e1e1e;
}

.comment{
    margin: auto;
    border: solid 1px #bababa;
    width:80%;
    margin-bottom: 20px;
}


.yellow{
    color: #f7a128;
    margin-bottom: 10px;
    font-size: 20px;
}

/**************form********************/

.form-style-1 {
    width: 90%;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 textarea, input, button {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 5%;
}
.form-style-1 input[type=text],
.form-style-1 input[type=number],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button], .form-style-1 button{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover, .form-style-1 button{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

/********* MEDIA QUERIES *********/

@media screen and (max-width:1200px) {
    .product-content{
        width: 90vw;
    }
    .section-slide {
        width: 90vw;
        max-width: 550px;
        display: table;
        float: none;
        margin: 0 auto;
    }
    .photo{
        max-width: 450px;
        max-height: 600px;
    }
    .section-presentation {
        width: 90vw;
        margin: 0 auto;
        padding-left: 0;
    }
    .comment{
        width:100%;
    }

    .presentation-table{
        width: 100%;
    }
}