.champ {
    border-radius: 10px;
    width: 100%;
}

.barre_color_list{
    color: black;
}

.section-heading {
    position: relative;
    margin: 45px 0px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.barre_color_police{
    color: #C6A668;
}

.product {
    display: block;
    float: right;
    position: relative;
}

.items-container{
    border-radius: 100px;
}

summary::-webkit-details-marker {
    display: none;
    color: #ADCA48;
}

summary:after {
    content: "+";
    color: #ADCA48;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: -5px 5px 0 0;
    padding: 0;
    text-align: center;
    width: 20px;
}

details[open] summary:after {
    content: "-";
}







#sidebar {
    display: block;
    text-align: center;
    float: left;
    width: 200px;
    background-color: transparent;
}
.range {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
}


.table-primary-img {
    padding: 10px;
    max-width:200px;
    height: 200px;
}
.table-product-text, .table-product-name, .table-product-price {
    font-size: 15px;
    font-family: 'Lemonada', cursive;
    font-weight: 300;
    line-height: 1;
    color: inherit;
}
.product-holder{
    margin:0;
    padding:0;
}
.product-holder li{
    float:left;
    margin-bottom:10px;
}

.universe-bandeau{
    display: block;
    position: relative;
    float: left;
    width: 100vw;
    height: 10vw;
    text-align: center;
    overflow: hidden;
}

.universe-img{
    width: 100%;
    min-height: 50px;
    overflow: hidden;
}

#universe-name{
    position : absolute;
    text-align:center;
    color: rgba(255, 255, 255, 0.93);
    text-shadow: 3px 2px 1px black;
    font-family: 'Dancing Script', cursive;
    left: 0;
    top: -10%;
    width: 100%;
}
.universe-description{
    position : absolute;
    text-align:center;
    padding : 0.5vw;
    color: rgba(255, 255, 255, 0.93);
    text-shadow: 2px 2px 3px black;
    font-size: 1em;
    font-family: 'Lemonada', cursive;
    margin-left: 10%;
    width: 80%;
    background-color: rgba(50, 50, 50, 0.5);
    -moz-border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    border-radius: 0.5vw;
}


@media screen and (max-width: 480px) {
    .add-cart-text{
        display: none;
    }

    #sidebar {
        padding-top: 30px;
        position: relative;
        display: inline-block;
        float: left;
        width: 100vw;
    }
    .section-product {
        position: relative;
        display: inline-block;
        margin-left: 0px;
        float: left;
        width: 100vw;
    }
    .section-product-table {
        display: block;
        float: right;
        width: 100vw;
    }
    .product-table{
        width:100vw;
    }
    .product-holder li div{
        width:50vw;
        min-height:80px;
        max-height:70vh;
    }
    .table-primary-img {
        max-width:40vw;
        min-height:50px;
        max-height:40vw;
    }
    .btn {
        width:30%;
    }
}

@media screen and (min-width: 480px){

    #sidebar {
        position: fixed;
        height: 100vh;
    }
    .range {
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
    }
    .section-product{
        display: block;
        text-align: center;
        float: left;
        margin-left: 201px;
        width:auto;
    }
    .section-product-table {
        display: block;
        float: right;
        width: 100%;
    }
    .product-table-title {
        width: 100%;
        margin-right: 0px;
        display: block;
        float: right;
        width: 100%;
    }
    .product-table{
        display: block;
        float: right;
        width: 100%;
    }
    .product-holder{
        margin:0;
        padding:0;
    }
    .product-holder li{
        float:left;
        margin-bottom:60px;
    }
    .product-holder li div{
        width:250px;
    }
}

@media screen and (min-width: 1280px){
    .universe-bandeau {
        height: 13vw;
    }
    #universe-name{
        top: -1%;
        font-size: 5em;
    }
    .universe-description{
        font-size: 1em;
        top: 60%;
    }
}

@media screen and (min-width: 980px) and (max-width: 1279px) {
    .universe-bandeau {
        height: 15vw;
    }
    #universe-name{
        top: -5%;
        font-size: 4em;
    }
    .universe-description{
        font-size: 1em;
        top: 55%;
    }
}

@media screen and (min-width: 800px) and (max-width: 979px) {
    .universe-bandeau {
        height: 20vw;
    }
    #universe-name{
        top: 0%;
    }
    .universe-description{
        font-size: 1em;
        top: 50%;
    }
}

@media screen and (min-width: 650px) and (max-width: 799px) {
    .universe-bandeau {
        height: 25vw;
    }
    #universe-name{
        top: 0%;
        font-size: 3em;
    }
    .universe-description{
        font-size: 1em;
        top: 40%;
    }
}

@media screen and (min-width: 320px) and (max-width: 649px) {
    .universe-bandeau {
        height: 20vw;
    }
    #universe-name{
        top: 10%;
        font-size: 3em;
    }
    .universe-description{
        display: none;
    }
}

@media screen and (max-width: 319px) {
    .universe-bandeau {
        height: 25vw;
    }
    #universe-name{
        top: 10%;
        font-size: 2em;
    }
    .universe-description{
        display: none;
    }
}

.big-space{
    height:700px;
}



/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/


@media screen and (min-width: 1200px) {

    #Bandeau {
        margin-top: 53px;
        width: 100%;
        height: 200px;
        background-color: #1ac67d;
        text-align: center;
    }

    #image_univers {
        width: 100%;
        max-height: 200px;
    }

    #Recherche {
        width: 20%;
        height: 100%;
        float: left;

        margin-top: 30px;
        margin-left: 30px;
        margin-right: auto;
        margin-bottom: 70px;
        padding: 30px;

        border-radius: 20px;
        box-shadow: 2px 2px 6px #aaa;
        color: white;
        text-shadow: 2px 2px 2px black;
    }

    #Produits {
        float: left;
        width: 70%;
        height: 100%;

        margin-top: 30px;
        margin-left: 30px;
        margin-right: auto;
        margin-bottom: 70px;
        padding: 30px;

        border-radius: 20px;
        box-shadow: 2px 2px 6px #aaa;
        color: white;
        text-shadow: 2px 2px 2px black;

    }
}

@media screen and (max-width: 1199px) {

    #Bandeau {
        margin-top: 53px;
        width: 100%;
        height: 200px;
        background-color: #1ac67d;
        text-align: center;
    }

    #image_univers {
        width: 100%;
        max-height: 200px;
    }

    #Recherche {
        float: left;
        width: 80%;
        height: 100%;

        margin-top: 30px;
        margin-left: 10%;
        margin-right: 10%;
        padding: 30px;

        border-radius: 20px;
        box-shadow: 2px 2px 6px #aaa;
        color: white;
        text-shadow: 2px 2px 2px black;
    }

    #Produits {
        height: 100%;
        float: left;
        width: 80%;

        margin-top: 30px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 70px;
        padding: 30px;

        border-radius: 20px;
        box-shadow: 2px 2px 6px #aaa;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
}

#flou{
    filter: blur(15px);
}

