{% extends "@FOSUser/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet" />
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}

    <div class="espace"></div>
    <div class="content">
        <p>
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
        </p>
    </div>
    <div class="espace"></div>
{% endblock %}
