{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        localStorage.clear();
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        {% trans_default_domain 'FOSUserBundle_trad' %}
        <h1 class="section-heading">{% trans %}Erreur Panier{% endtrans %}</h1>
    </div>

{% endblock %}
