{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyA_6m6Glf1-P7jvVdHZ00e3Ue_EoUNe39g') }}"></script>
    <script src="{{ asset('js/bundle.js') }}"></script>
    <script type="text/javascript">
        localStorage.clear();
    </script>
{% endblock %}

{% block body %}
    <div class="container">
            <h1 class="section-heading">Une erreur est survenue lors de votre commande !<br>Un ou plusieurs produits demandés ne sont pas présents dans nos stocks.<br>
                Votre panier va être réinitialisé.</h1>
    </div>

{% endblock %}
