{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        localStorage.clear();
    </script>
{% endblock %}

{% block body %}
    <div class="container">
            <h1 class="section-heading">Une erreur est survenue lors de votre commande !<br>Un ou plusieurs produits demandés ne sont pas présents dans nos stocks.<br>
                Votre panier va être réinitialisé.</h1>
    </div>

{% endblock %}
