{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/accueil.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        setTimeout(retour,3000);
        function retour() {
            window.location.replace('{{path("homepage")}}')
        }
    </script>
{% endblock %}

{% block body %}
    <div style="text-align: center;">
        {% trans_default_domain 'FOSUserBundle_trad' %}
        <h1>{% trans %}Registration to the newsletter ok{% endtrans %} !</h1>
        <img style="width: 300px; height: 300px;" src="http://www.clipartbest.com/cliparts/bcy/64z/bcy64zkgi.png" alt="success">
        <br> <br>
        <p>{% trans %}Redirection{% endtrans %}</p>
    </div>
{% endblock %}