{{ form_start(newsletterForm) }}
<div class="form-group">
    {{ form_widget(newsletterForm.mail, {attr: {class: "form-control col-xs-8 col-sm-8", placeholder: "e-mail"}}) }}
    <button class="btn btn-default col-xs-4 col-sm-4" type="submit"><span class="ti-arrow-right"></span></button>
</div>
{{ form_end(newsletterForm) }}