{{ form_start(newsletterForm, {attr: {class: "form-inline"}}) }}
<div class="form-group">
    {{ form_widget(newsletterForm.mail, {attr: {class: "form-control", placeholder: "e-mail"}}) }}
    <button class="btn btn-default" type="submit"><span class="ti-arrow-right"></span></button>
</div>
{{ form_end(newsletterForm) }}