{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/contact.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
    <div id="content" class="cadre_contour">
        <h1 class="titre_contact">Qui sommes-nous ?</h1>
            <ul>
                <div class="paragraphe">
                    <h1 class="text-center">La direction</h1>
                    <h3 class="text-center">Site de vente de vin appartenant à la société xxx</h3><br>
                    <i class="img-texte-g"><img class="photo" src="../../img/identity/avatar_blank.png" height="240" width="300"/>Ici, les clients pourront raconter l'histoire de leur entreprise, histoire de se présenter à eux avant qu'on puisse
                        les contacter, ça peut toujours être utile. Meanwhile, je mets un lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non pharetra leo. Etiam mollis at orci auctor ornare. Praesent tellus sapien, maximus eu orci eu, ultricies ullamcorper neque. Donec interdum placerat risus sit amet consectetur. Nullam nec laoreet erat. Duis quis accumsan metus. Nullam porttitor pulvinar sagittis. Fusce justo velit, condimentum at convallis eu, bibendum non tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sagittis velit vehicula sodales hendrerit. Phasellus tristique maximus ipsum quis pharetra. Mauris aliquam eu quam at pharetra. Morbi nec orci turpis. Morbi quis posuere elit. Suspendisse nec neque a orci imperdiet aliquet.
                    </i>
                </div>
            </ul>
        <br><br>
        <ul>
            <div class="paragraphe">
                <h1 class="text-center">Les Sélectionneurs de Vins</h1>
                <h3 class="text-center">Site de vente de vin appartenant à la société xxx</h3><br>
                <i class="img-texte-d"><img class="photo" src="../../img/identity/avatar_blank.png" height="240" width="300"/>Ici, les clients pourront raconter l'histoire de leur entreprise, histoire de se présenter à eux avant qu'on puisse
                    les contacter, ça peut toujours être utile. Meanwhile, je mets un lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non pharetra leo. Etiam mollis at orci auctor ornare. Praesent tellus sapien, maximus eu orci eu, ultricies ullamcorper neque. Donec interdum placerat risus sit amet consectetur. Nullam nec laoreet erat. Duis quis accumsan metus. Nullam porttitor pulvinar sagittis. Fusce justo velit, condimentum at convallis eu, bibendum non tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sagittis velit vehicula sodales hendrerit. Phasellus tristique maximus ipsum quis pharetra. Mauris aliquam eu quam at pharetra. Morbi nec orci turpis. Morbi quis posuere elit. Suspendisse nec neque a orci imperdiet aliquet.
                </i>
            </div>
        </ul>
        <br><br>
        <ul>
            <div class="paragraphe">
                <h1 class="text-center">Les Accordeurs de goûts et des saveurs</h1>
                <h3 class="text-center">Site de vente de vin appartenant à la société xxx</h3><br>
                <i class="img-texte-g"><img class="photo" src="../../img/identity/avatar_blank.png" height="240" width="300"/>Ici, les clients pourront raconter l'histoire de leur entreprise, histoire de se présenter à eux avant qu'on puisse
                    les contacter, ça peut toujours être utile. Meanwhile, je mets un lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non pharetra leo. Etiam mollis at orci auctor ornare. Praesent tellus sapien, maximus eu orci eu, ultricies ullamcorper neque. Donec interdum placerat risus sit amet consectetur. Nullam nec laoreet erat. Duis quis accumsan metus. Nullam porttitor pulvinar sagittis. Fusce justo velit, condimentum at convallis eu, bibendum non tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sagittis velit vehicula sodales hendrerit. Phasellus tristique maximus ipsum quis pharetra. Mauris aliquam eu quam at pharetra. Morbi nec orci turpis. Morbi quis posuere elit. Suspendisse nec neque a orci imperdiet aliquet.
                </i>
            </div>
        </ul>
    </div>
{% endblock %}