{% extends 'base.html.twig' %}

{% block body %}

    <div class="post-entry text-center">
        <h3 class="section-heading">News</h3>

        <p>Date de publication : {% if news.datePublication %}{{ news.datePublication|date('Y-m-d H:i:s') }}{% endif %}</p>
    </div>

        <div class="col-md-8 about-white-box col-md-offset-2">
            <h2 class="section-claim wow fadeInDown" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                {{ news.title }}
            </h2>

            <p>{{ news.newsText }}</p>

            <br>
            <a href="{{ path('news_index') }}" class="btn btn-default">Back to the list</a>
        </div>
{% endblock %}
