{% extends 'base.html.twig' %}
{% block body %}
    <br><br>
    <h1 style="text-align: center">{% trans %}Commande annulée{% endtrans %}</h1>
    <br><br>
    <p style="text-align: center"><a href="{{ path("cart_view") }}">{% trans %}Retour au panier{% endtrans %}.</a><br><a href="{{ path("homepage") }}">{% trans %}Retour à la page d'accueil{% endtrans %}.</a></p>
{% endblock %}