{% extends 'base.html.twig' %}

{% block body %}
    <br><br>
    <h1 style="text-align: center">Le paiement a réussi !</h1>
    <br><br>
    <p style="text-align: center">Merci d'avoir choisi BoxOfficeWines ! <a href="{{ path("homepage") }}">Retour à la page d'accueil</a>.</p>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        window.localStorage.removeItem('panier');
    </script>
{% endblock %}