{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bravo, vous êtes moins riche ! </h1>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        window.localStorage.removeItem('panier');
    </script>
{% endblock %}