{% extends 'base.html.twig' %}

{% block body %}
    <br><br>
    <h1 style="text-align: center">{% trans %}Le paiement a réussi{% endtrans %} !</h1>
    <br><br>
    <p style="text-align: center">{% trans %}Merci d'avoir choisi BoxOfficeWines{% endtrans %} ! <a href="{{ path("homepage") }}">{% trans %}Retour à la page d'accueil{% endtrans %}</a>.</p>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        window.localStorage.removeItem('panier');
    </script>
{% endblock %}